# Touchscreen Dataset Analysis

### Package Import and Path Configuration
This section imports all required packages and defines the file paths needed for the analysis.

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.experimental import enable_iterative_imputer  # IterativeImputer
from sklearn.impute import IterativeImputer
from scipy import stats

# Set the path to the directory containing the raw data files
path = "../main/data/UK_BIOBANK_DATA" 
path_graphs = "../main/doutputs/graphs" 
path_results = "../main/doutputs/results"

The phenotype dataset is loaded. This dataset is provided with a tab separator format. For that reason, the following code was used.

In [3]:
#Charge dataframes
#Touchscreen
touchscreen_df = pd.read_csv(os.path.join(path, "touchscreen_data.tsv"), sep="\t")

In [4]:
# Display the first few rows of the touchscreen data
touchscreen_df.head()

,eid,f_670_0_0,f_670_1_0,f_670_2_0,f_670_3_0,f_680_0_0,f_680_1_0,f_680_2_0,f_680_3_0,f_699_0_0,...,f_22037_2_0,f_22037_3_0,f_22038_0_0,f_22038_1_0,f_22038_2_0,f_22038_3_0,f_22039_0_0,f_22039_1_0,f_22039_2_0,f_22039_3_0
0,1000012,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000021,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,24.0,...,NaN,NaN,4320.0,NaN,NaN,NaN,320.0,NaN,NaN,NaN
2,1000035,1.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,10.0,...,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,1000044,1.0,1.0,NaN,NaN,2.0,2.0,NaN,NaN,27.0,...,NaN,NaN,0.0,240.0,NaN,NaN,0.0,960.0,NaN,NaN
4,1000053,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,32.0,...,NaN,NaN,240.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

The chars dataset is loaded, which contains information relevant to the original dataset. This is done to gain more information, better understand the dataset, and make future associations.

In [5]:
# Olink Characters
# Open the original TSV file and skip the first 5 header lines
with open(os.path.join(path, 'touchscreen_chars.tsv'), 'r') as f:
    # Read all lines and discard the first five
    lines = f.readlines()[5:]

# Write the remaining lines to a new TSV file
with open(os.path.join(path, 'touchscreen_chars_table.tsv'), 'w') as f:
    # Output the extracted lines without modification
    f.writelines(lines)

In [6]:
# Load the filtered TSV into a DataFrame, using tab as the separator
touchscreen_chars_df = pd.read_csv(
    os.path.join(path, 'touchscreen_chars_table.tsv'),
    sep="\t"
)

# Create a new column for protein names and reorder the DataFrame
# Get the list of existing column names
cols = touchscreen_chars_df.columns.tolist()

# Insert a 'pname' column just before 'ValueType', extracting
# the protein name from the 'Field' column (text before the first semicolon)
touchscreen_chars_df.insert(
    cols.index('ValueType'),
    'pname',
    touchscreen_chars_df['Field'].str.split(";").str[0]
)

# Display the first few rows of the updated DataFrame
touchscreen_chars_df.head()

,Field,FieldID,pname,ValueType,Coding,Category,Participants,Items,Stability,Units,ItemType,Strata,Sexed,Instances,Array,Notes,Link,Path
0,Type of accommodation lived in,670,Type of accommodation lived in,Categorical single,100286.0,100066,501527,597706,Complete,NaN,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""What type of acco...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=670,Assessment centre > Touchscreen > Sociodemogra...
1,Own or rent accommodation lived in,680,Own or rent accommodation lived in,Categorical single,100287.0,100066,500149,596187,Complete,NaN,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""Do you own or ren...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=680,Assessment centre > Touchscreen > Sociodemogra...
2,Length of time at current address,699,Length of time at current address,Integer,100290.0,100066,501523,597702,Complete,years,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""How many years ha...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=699,Assessment centre > Touchscreen > Sociodemogra...
3,Number in household,709,Number in household,Integer,100291.0,100066,500147,596185,Complete,people,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""Including yoursel...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=709,Assessment centre > Touchscreen > Sociodemogra...
4,Number of vehicles in household,728,Number of vehicles in household,Categorical single,100293.0,100066,500147,596185,Complete,NaN,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""How many cars or ...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=728,Assessment centre > Touchscreen > Sociodemogra...

## Preprocessing

### Missing Values

In [7]:
# Extract unique suffixes from column names (excluding 'eid')
col_names = touchscreen_df.columns
suffixes = []

# Loop through each column name
for col in col_names:
    if col!= 'eid':
        # Split the column name by underscores
        parts = col.split('_')
        # If the column name has at least 4 parts, extract the 3rd and 4th parts as the suffix
        if len(parts) >= 4:
            suffixes_p = f"{parts[2]}_{parts[3]}" 
            suffixes.append(suffixes_p)

# Get a sorted list of unique suffixes found in the column names
unique_suffixes = sorted(set(suffixes))
print(unique_suffixes)

['0_0', '0_1', '0_2', '0_3', '0_4', '0_5', '0_6', '1_0', '1_1', '1_2', '1_3', '1_4', '2_0', '2_1', '2_2', '2_3', '2_4', '2_5', '3_0', '3_1', '3_2', '3_3']

In [8]:
for suffix in unique_suffixes:
    # Filter columns by the current suffix
    suffix_cols = touchscreen_df.filter(regex=fr'{suffix}$')
    
    # Calculate total NA values and total cells (rows Ã— columns)
    total_na = suffix_cols.isna().sum().sum()
    total_cells = suffix_cols.size  # Equivalent to: rows Ã— columns
    
    # Avoid division by zero if no columns match the suffix
    if total_cells == 0:
        print(f"No columns found with suffix '{suffix}'")
        continue
    
    # Compute percentage of NA values
    na_percentage = (total_na / total_cells) * 100
    
    # Print results
    print(f"Suffix '{suffix}': {total_na} NA values ({na_percentage:.2f}%)")

Suffix '0_0': 90061049 NA values (47.32%)
Suffix '0_1': 15148149 NA values (81.53%)
Suffix '0_2': 15173220 NA values (94.42%)
Suffix '0_3': 7778577 NA values (96.81%)
Suffix '0_4': 4466925 NA values (98.83%)
Suffix '0_5': 2501892 NA values (99.64%)
Suffix '0_6': 500527 NA values (99.67%)
Suffix '1_0': 154342408 NA values (97.26%)
Suffix '1_1': 11408922 NA values (98.78%)
Suffix '1_2': 5988521 NA values (99.38%)
Suffix '1_3': 2500727 NA values (99.59%)
Suffix '1_4': 501490 NA values (99.86%)
Suffix '2_0': 154733865 NA values (90.89%)
Suffix '2_1': 13632204 NA values (96.95%)
Suffix '2_2': 9409354 NA values (98.62%)
Suffix '2_3': 4480205 NA values (99.13%)
Suffix '2_4': 2503861 NA values (99.72%)
Suffix '2_5': 501677 NA values (99.90%)
Suffix '3_0': 138174108 NA values (98.97%)
Suffix '3_1': 8501108 NA values (99.58%)
Suffix '3_2': 3003144 NA values (99.67%)
Suffix '3_3': 1001419 NA values (99.71%)

According to the previous results, it is evident that the tests were conducted in three (3) stages. Across these stages, only instances 0 and 1 were retained. It can be observed that instance 0 contains fewer NA values from the stage 1. Therefore, instance 0 is selected for further analysis, as it corresponds to the stage with the least amount of missing data.

In [9]:
# Select columns that match the pattern 'f_\d+_0_\d+' and include 'eid'
selected_columns = ['eid'] + [
    col for col in touchscreen_df.columns
    if re.match(r'^f_\d+_0_\d+$', col)
]

# Create a new DataFrame with the selected columns
touchscreen_dr_df = touchscreen_df[selected_columns]

# Display the first few rows of the new DataFrame
touchscreen_dr_df.head()

,eid,f_670_0_0,f_680_0_0,f_699_0_0,f_709_0_0,f_728_0_0,f_738_0_0,f_757_0_0,f_767_0_0,f_777_0_0,...,f_20162_0_0,f_21000_0_0,f_22032_0_0,f_22033_0_0,f_22034_0_0,f_22035_0_0,f_22036_0_0,f_22037_0_0,f_22038_0_0,f_22039_0_0
0,1000012,1.0,1.0,4.0,3.0,3.0,3.0,NaN,NaN,NaN,...,NaN,1001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000021,1.0,2.0,24.0,4.0,2.0,3.0,15.0,50.0,6.0,...,0.712500,1001.0,2.0,16.0,370.0,1.0,1.0,3564.0,4320.0,320.0
2,1000035,1.0,3.0,10.0,3.0,1.0,1.0,NaN,NaN,NaN,...,0.462963,1001.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000044,1.0,2.0,27.0,4.0,3.0,2.0,3.0,35.0,5.0,...,NaN,1001.0,0.0,2.0,15.0,0.0,0.0,99.0,0.0,0.0
4,1000053,1.0,1.0,32.0,2.0,3.0,3.0,NaN,NaN,NaN,...,NaN,1001.0,1.0,10.0,50.0,0.0,1.0,693.0,240.0,0.0

In [10]:
# Size of the DataFrame after filtering
touchscreen_dr_df.shape

(502180, 480)

We verify whether duplicate records exist according to the 'eid' column.

In [11]:
# Check for duplicates in 'eid'
duplicates = touchscreen_dr_df[touchscreen_df["eid"].duplicated(keep=False)]

# Display duplicate rows (if any)
if not duplicates.empty:
    print(f"Found {len(duplicates)} duplicate rows in 'eid':")
    display(duplicates)
else:
    print("No duplicates found in 'eid'.")

No duplicates found in 'eid'.

The type of data contained in the dataset is verified

In [12]:
# Check data types of all columns
data_types = touchscreen_dr_df.dtypes

# Count the number of columns per data type
type_counts = data_types.value_counts()

# Print results
for dtype, count in type_counts.items():
    print(f"Data type: {dtype} | Number of columns: {count}")

print("\nTotal number of columns:", len(touchscreen_dr_df.columns))

Data type: float64 | Number of columns: 479
Data type: int64 | Number of columns: 1

Total number of columns: 480

With the dimensionality reduction previously performed, the amount of null data is looked at again.

In [13]:
missing_percentage = touchscreen_dr_df.isna().mean() * 100
#missing_percentage = missing_percentage[missing_percentage > 0].sort_values(ascending=False)
# Display the percentage of missing values for each column, with a % symbol
print("\nPercentage of missing values in each column:")
for col, pct in missing_percentage.items():
    print(f"{col}: {pct:.2f}%")

Percentage of missing values in each column:
eid: 0.00%
f_670_0_0: 0.17%
f_680_0_0: 0.45%
f_699_0_0: 0.17%
f_709_0_0: 0.45%
f_728_0_0: 0.45%
f_738_0_0: 1.20%
f_757_0_0: 42.87%
f_767_0_0: 42.87%
f_777_0_0: 43.33%
f_796_0_0: 47.15%
f_806_0_0: 42.87%
f_816_0_0: 42.87%
f_826_0_0: 42.87%
f_845_0_0: 32.98%
f_864_0_0: 0.17%
f_874_0_0: 4.90%
f_884_0_0: 0.18%
f_894_0_0: 18.20%
f_904_0_0: 0.18%
f_914_0_0: 41.35%
f_924_0_0: 0.56%
f_943_0_0: 1.31%
f_971_0_0: 30.16%
f_981_0_0: 30.16%
f_991_0_0: 90.04%
f_1001_0_0: 90.04%
f_1011_0_0: 50.54%
f_1021_0_0: 50.54%
f_1031_0_0: 0.93%
f_1050_0_0: 0.93%
f_1060_0_0: 0.93%
f_1070_0_0: 0.18%
f_1080_0_0: 0.93%
f_1090_0_0: 0.22%
f_1100_0_0: 0.22%
f_1110_0_0: 0.18%
f_1120_0_0: 15.76%
f_1130_0_0: 15.76%
f_1140_0_0: 15.76%
f_1150_0_0: 15.76%
f_1160_0_0: 0.18%
f_1170_0_0: 0.93%
f_1180_0_0: 0.93%
f_1190_0_0: 0.18%
f_1200_0_0: 0.18%
f_1210_0_0: 0.18%
f_1220_0_0: 0.18%
f_1239_0_0: 0.18%
f_1249_0_0: 7.99%
f_1259_0_0: 8.66%
f_1269_0_0: 7.91%
f_1279_0_0: 7.91%
f_1289_0_0: 0.18%
f_1299_0_0: 0.18%
f_1309_0_0: 0.18%
f_1319_0_0: 0.18%
f_1329_0_0: 0.18%
f_1339_0_0: 0.18%
f_1349_0_0: 0.18%
f_1359_0_0: 0.18%
f_1369_0_0: 0.18%
f_1379_0_0: 0.18%
f_1389_0_0: 0.18%
f_1408_0_0: 2.56%
f_1418_0_0: 0.20%
f_1428_0_0: 0.93%
f_1438_0_0: 0.93%
f_1448_0_0: 4.20%
f_1458_0_0: 0.20%
f_1468_0_0: 17.37%
f_1478_0_0: 0.18%
f_1488_0_0: 0.18%
f_1508_0_0: 23.14%
f_1518_0_0: 0.18%
f_1528_0_0: 0.18%
f_1538_0_0: 0.18%
f_1548_0_0: 0.93%
f_1558_0_0: 0.18%
f_1568_0_0: 31.04%
f_1578_0_0: 31.04%
f_1588_0_0: 31.04%
f_1598_0_0: 31.04%
f_1608_0_0: 31.04%
f_1618_0_0: 22.92%
f_1628_0_0: 8.38%
f_1647_0_0: 0.18%
f_1677_0_0: 0.18%
f_1687_0_0: 0.18%
f_1697_0_0: 0.18%
f_1707_0_0: 0.18%
f_1717_0_0: 0.18%
f_1727_0_0: 0.93%
f_1737_0_0: 0.93%
f_1747_0_0: 0.18%
f_1757_0_0: 0.93%
f_1767_0_0: 0.18%
f_1777_0_0: 1.64%
f_1787_0_0: 1.64%
f_1797_0_0: 1.64%
f_1807_0_0: 24.76%
f_1835_0_0: 1.64%
f_1845_0_0: 60.34%
f_1873_0_0: 1.64%
f_1883_0_0: 1.64%
f_1920_0_0: 0.18%
f_1930_0_0: 0.18%
f_1940_0_0: 0.18%
f_1950_0_0: 0.18%
f_1960_0_0: 0.18%
f_1970_0_0: 0.18%
f_1980_0_0: 0.18%
f_1990_0_0: 0.18%
f_2000_0_0: 0.18%
f_2010_0_0: 0.18%
f_2020_0_0: 0.18%
f_2030_0_0: 0.18%
f_2040_0_0: 0.18%
f_2050_0_0: 0.18%
f_2060_0_0: 0.18%
f_2070_0_0: 0.18%
f_2080_0_0: 0.18%
f_2090_0_0: 0.18%
f_2100_0_0: 0.18%
f_2110_0_0: 0.18%
f_2129_0_0: 0.18%
f_2139_0_0: 9.35%
f_2149_0_0: 10.20%
f_2159_0_0: 10.20%
f_2178_0_0: 0.18%
f_2188_0_0: 0.18%
f_2207_0_0: 0.18%
f_2217_0_0: 12.45%
f_2227_0_0: 0.18%
f_2237_0_0: 0.18%
f_2247_0_0: 0.93%
f_2257_0_0: 0.21%
f_2267_0_0: 0.93%
f_2277_0_0: 0.93%
f_2296_0_0: 0.18%
f_2306_0_0: 0.18%
f_2316_0_0: 0.18%
f_2335_0_0: 0.18%
f_2345_0_0: 0.18%
f_2355_0_0: 69.05%
f_2365_0_0: 54.49%
f_2375_0_0: 54.83%
f_2385_0_0: 54.83%
f_2395_0_0: 54.83%
f_2405_0_0: 54.83%
f_2415_0_0: 54.49%
f_2443_0_0: 0.19%
f_2453_0_0: 0.19%
f_2463_0_0: 0.19%
f_2473_0_0: 0.19%
f_2492_0_0: 0.19%
f_2624_0_0: 59.11%
f_2634_0_0: 59.11%
f_2644_0_0: 72.63%
f_2654_0_0: 48.29%
f_2664_0_0: 58.79%
f_2674_0_0: 45.69%
f_2684_0_0: 56.74%
f_2694_0_0: 45.69%
f_2704_0_0: 47.11%
f_2714_0_0: 45.69%
f_2724_0_0: 45.69%
f_2734_0_0: 45.70%
f_2744_0_0: 55.93%
f_2754_0_0: 63.19%
f_2764_0_0: 63.19%
f_2774_0_0: 45.70%
f_2784_0_0: 45.70%
f_2794_0_0: 56.14%
f_2804_0_0: 56.20%
f_2814_0_0: 45.70%
f_2824_0_0: 89.84%
f_2834_0_0: 45.70%
f_2844_0_0: 45.70%
f_2867_0_0: 75.93%
f_2877_0_0: 75.93%
f_2887_0_0: 77.02%
f_2897_0_0: 75.93%
f_2907_0_0: 76.11%
f_2926_0_0: 76.11%
f_2946_0_0: 77.19%
f_2956_0_0: 98.24%
f_2966_0_0: 73.20%
f_2976_0_0: 94.97%
f_3005_0_0: 90.55%
f_3393_0_0: 38.78%
f_3404_0_0: 76.72%
f_3414_0_0: 88.80%
f_3426_0_0: 90.00%
f_3436_0_0: 92.19%
f_3446_0_0: 92.19%
f_3456_0_0: 92.74%
f_3466_0_0: 92.81%
f_3506_0_0: 92.19%
f_3526_0_0: 40.60%
f_3536_0_0: 79.32%
f_3546_0_0: 79.32%
f_3571_0_0: 74.11%
f_3591_0_0: 51.90%
f_3606_0_0: 83.88%
f_3616_0_0: 93.65%
f_3627_0_0: 96.82%
f_3637_0_0: 53.02%
f_3647_0_0: 53.02%
f_3659_0_0: 91.14%
f_3669_0_0: 96.85%
f_3680_0_0: 95.93%
f_3700_0_0: 87.26%
f_3710_0_0: 87.26%
f_3720_0_0: 84.82%
f_3731_0_0: 91.91%
f_3741_0_0: 91.24%
f_3751_0_0: 87.02%
f_3761_0_0: 77.09%
f_3773_0_0: 78.47%
f_3786_0_0: 88.52%
f_3799_0_0: 79.51%
f_3809_0_0: 86.83%
f_3829_0_0: 82.64%
f_3839_0_0: 82.64%
f_3849_0_0: 82.64%
f_3859_0_0: 96.43%
f_3872_0_0: 92.74%
f_3882_0_0: 95.67%
f_3894_0_0: 97.70%
f_3912_0_0: 98.55%
f_3942_0_0: 98.55%
f_3972_0_0: 98.55%
f_3982_0_0: 98.55%
f_3992_0_0: 98.35%
f_4012_0_0: 98.02%
f_4022_0_0: 99.18%
f_4041_0_0: 97.95%
f_4056_0_0: 98.49%
f_4067_0_0: 98.14%
f_4407_0_0: 91.88%
f_4418_0_0: 91.88%
f_4429_0_0: 91.88%
f_4440_0_0: 91.88%
f_4451_0_0: 91.88%
f_4462_0_0: 91.88%
f_4501_0_0: 66.24%
f_4598_0_0: 65.63%
f_4609_0_0: 82.22%
f_4620_0_0: 82.22%
f_4631_0_0: 65.63%
f_4642_0_0: 65.63%
f_4653_0_0: 65.63%
f_4674_0_0: 65.63%
f_4689_0_0: 99.43%
f_4700_0_0: 98.45%
f_4717_0_0: 65.63%
f_4728_0_0: 65.63%
f_4792_0_0: 65.66%
f_4803_0_0: 65.66%
f_4814_0_0: 90.31%
f_4825_0_0: 65.66%
f_4836_0_0: 65.66%
f_5057_0_0: 69.94%
f_5364_0_0: 76.90%
f_5375_0_0: 87.95%
f_5386_0_0: 87.95%
f_5408_0_0: 99.20%
f_5419_0_0: 99.83%
f_5430_0_0: 99.83%
f_5441_0_0: 98.73%
f_5452_0_0: 92.09%
f_5463_0_0: 92.09%
f_5474_0_0: 92.09%
f_5485_0_0: 92.09%
f_5496_0_0: 95.68%
f_5507_0_0: 92.09%
f_5518_0_0: 92.09%
f_5529_0_0: 92.09%
f_5540_0_0: 92.09%
f_5610_0_0: 91.12%
f_5663_0_0: 92.82%
f_5674_0_0: 92.82%
f_5832_0_0: 95.61%
f_5843_0_0: 91.55%
f_5855_0_0: 97.29%
f_5877_0_0: 99.60%
f_5890_0_0: 99.70%
f_5901_0_0: 99.63%
f_5912_0_0: 99.74%
f_5923_0_0: 99.74%
f_5934_0_0: 99.51%
f_5945_0_0: 99.51%
f_5959_0_0: 99.48%
f_6119_0_0: 99.57%
f_6138_0_0: 0.92%
f_6138_0_1: 58.87%
f_6138_0_2: 75.26%
f_6138_0_3: 87.82%
f_6138_0_4: 97.97%
f_6138_0_5: 99.78%
f_6139_0_0: 0.92%
f_6139_0_1: 65.29%
f_6139_0_2: 98.83%
f_6140_0_0: 65.63%
f_6140_0_1: 99.69%
f_6141_0_0: 18.94%
f_6141_0_1: 69.14%
f_6141_0_2: 98.50%
f_6142_0_0: 0.17%
f_6142_0_1: 92.13%
f_6142_0_2: 98.77%
f_6142_0_3: 99.90%
f_6143_0_0: 47.15%
f_6143_0_1: 89.29%
f_6143_0_2: 97.89%
f_6143_0_3: 99.82%
f_6144_0_0: 0.93%
f_6144_0_1: 97.24%
f_6144_0_2: 99.17%
f_6145_0_0: 0.93%
f_6145_0_1: 88.20%
f_6145_0_2: 97.64%
f_6145_0_3: 99.65%
f_6146_0_0: 0.18%
f_6146_0_1: 97.46%
f_6146_0_2: 99.66%
f_6147_0_0: 78.78%
f_6147_0_1: 95.43%
f_6147_0_2: 99.37%
f_6148_0_0: 65.25%
f_6148_0_1: 98.98%
f_6148_0_2: 99.86%
f_6149_0_0: 0.93%
f_6149_0_1: 90.76%
f_6149_0_2: 97.78%
f_6149_0_3: 99.44%
f_6149_0_4: 99.85%
f_6150_0_0: 0.19%
f_6150_0_1: 96.49%
f_6150_0_2: 99.23%
f_6151_0_0: 90.55%
f_6151_0_1: 99.12%
f_6151_0_2: 99.88%
f_6152_0_0: 0.19%
f_6152_0_1: 93.51%
f_6152_0_2: 99.50%
f_6153_0_0: 46.10%
f_6153_0_1: 95.10%
f_6153_0_2: 99.52%
f_6154_0_0: 0.94%
f_6154_0_1: 85.77%
f_6154_0_2: 97.34%
f_6154_0_3: 99.69%
f_6155_0_0: 0.94%
f_6155_0_1: 92.32%
f_6155_0_2: 96.98%
f_6155_0_3: 98.44%
f_6155_0_4: 98.95%
f_6155_0_5: 99.29%
f_6155_0_6: 99.67%
f_6156_0_0: 92.82%
f_6156_0_1: 99.16%
f_6156_0_2: 99.66%
f_6157_0_0: 76.11%
f_6157_0_1: 94.62%
f_6157_0_2: 99.24%
f_6157_0_3: 99.88%
f_6158_0_0: 96.67%
f_6158_0_1: 99.22%
f_6158_0_2: 99.81%
f_6159_0_0: 0.18%
f_6159_0_1: 68.74%
f_6159_0_2: 85.35%
f_6159_0_3: 94.10%
f_6159_0_4: 98.00%
f_6159_0_5: 99.48%
f_6160_0_0: 0.18%
f_6160_0_1: 74.35%
f_6160_0_2: 95.14%
f_6160_0_3: 99.53%
f_6162_0_0: 1.31%
f_6162_0_1: 54.03%
f_6162_0_2: 83.57%
f_6162_0_3: 98.56%
f_6164_0_0: 1.25%
f_6164_0_1: 30.17%
f_6164_0_2: 60.59%
f_6164_0_3: 86.52%
f_6164_0_4: 97.64%
f_6177_0_0: 54.84%
f_6177_0_1: 93.15%
f_6177_0_2: 99.62%
f_6179_0_0: 0.94%
f_6179_0_1: 82.86%
f_6179_0_2: 95.47%
f_6179_0_3: 98.54%
f_6179_0_4: 99.42%
f_6179_0_5: 99.76%
f_6183_0_0: 99.64%
f_6194_0_0: 99.64%
f_6205_0_0: 99.58%
f_10004_0_0: 99.25%
f_10004_0_1: 99.89%
f_10005_0_0: 99.25%
f_10006_0_0: 99.25%
f_10007_0_0: 99.25%
f_10007_0_1: 99.85%
f_10016_0_0: 99.41%
f_10105_0_0: 99.25%
f_10114_0_0: 99.25%
f_10115_0_0: 99.81%
f_10721_0_0: 99.25%
f_10722_0_0: 99.25%
f_10722_0_1: 99.73%
f_10722_0_2: 99.82%
f_10723_0_0: 99.25%
f_10740_0_0: 99.25%
f_10749_0_0: 99.41%
f_10767_0_0: 99.25%
f_10776_0_0: 99.27%
f_10793_0_0: 99.25%
f_10818_0_0: 99.70%
f_10827_0_0: 99.81%
f_10854_0_0: 99.25%
f_10855_0_0: 99.25%
f_10860_0_0: 99.25%
f_10860_0_1: 99.89%
f_10877_0_0: 99.25%
f_10886_0_0: 99.41%
f_10895_0_0: 99.81%
f_10912_0_0: 99.25%
f_10953_0_0: 99.28%
f_10962_0_0: 99.39%
f_10971_0_0: 99.61%
f_20107_0_0: 2.93%
f_20107_0_1: 3.06%
f_20107_0_2: 78.26%
f_20107_0_3: 94.59%
f_20107_0_4: 99.08%
f_20107_0_5: 99.90%
f_20110_0_0: 1.91%
f_20110_0_1: 2.01%
f_20110_0_2: 78.69%
f_20110_0_3: 94.64%
f_20110_0_4: 99.08%
f_20111_0_0: 13.65%
f_20111_0_1: 13.76%
f_20111_0_2: 91.43%
f_20111_0_3: 97.85%
f_20111_0_4: 99.54%
f_20112_0_0: 99.00%
f_20112_0_1: 99.00%
f_20112_0_2: 99.81%
f_20113_0_0: 98.92%
f_20113_0_1: 98.93%
f_20113_0_2: 99.80%
f_20114_0_0: 99.26%
f_20114_0_1: 99.26%
f_20116_0_0: 0.18%
f_20117_0_0: 0.18%
f_20119_0_0: 99.33%
f_20122_0_0: 99.68%
f_20123_0_0: 98.06%
f_20124_0_0: 96.97%
f_20125_0_0: 98.13%
f_20126_0_0: 75.53%
f_20127_0_0: 20.08%
f_20160_0_0: 0.57%
f_20161_0_0: 69.96%
f_20162_0_0: 69.96%
f_21000_0_0: 0.18%
f_22032_0_0: 23.33%
f_22033_0_0: 23.33%
f_22034_0_0: 23.33%
f_22035_0_0: 23.33%
f_22036_0_0: 23.33%
f_22037_0_0: 23.33%
f_22038_0_0: 23.33%
f_22039_0_0: 23.33%

Attributes with a percentage greater than 90% will be eliminated from the analysis, following the recommendation made by UK Bank (the institution that owns the data).

In [14]:
touchscreen_dr_df = touchscreen_dr_df.loc[:, missing_percentage <= 90]

# Display the shape of the DataFrame after filtering
touchscreen_dr_df.shape

(502180, 292)

Elimination of non-relevant questions integer

| Field ID  | Question |
|-----------|-----------|
| 699       | Length of time at current address   |
| 709       | Number in household |
| 1070      | Time spent watching television (TV) |
| 1080      | Time spent using computer |
| 1845      | Mother's age |
| 2946      | Father's age |
| 3659      | Year immigrated to UK (United Kingdom) |
| 3672      | Number of adopted brothers |
| 3682      | Number of adopted sisters |

Elimination of non-relevant questions categorical single

| Field ID  | Question |
|-----------|-----------|
| 670       | Type of accommodation lived in   |
| 780       | Own or rent accommodation lived in |
| 1011      | Frequency of light DIY in last 4 weeks |
| 1021      | Duration of light DIY |
| 1031      | Frequency of friend/family visits |
| 1707      | Handedness (chirality/laterality) |
| 1767      | Adopted as a child |
| 1797      | Father still alive |
| 1835      | Mother still alive |
| 2237      | Plays computer games |
| 2624      | Frequency of heavy DIY in last 4 weeks |
| 2634      | Duration of heavy DIY |
| 3912      | Adopted father still alive |
| 3942      | Adopted mother still alive |
| 4825      | Noisy workplace |
| 4836      | Loud music exposure frequency |
| 10105     | Internet user (pilot) |
| 10114     | Willing to be contacted by email (pilot) |
| 10740     | Frequency of friend/family visits (pilot) |

Elimination of non-relevant questions categorical multiple

| Field ID  | Question |
|-----------|-----------|
| 6138      | Qualifications  |
| 6139      | Gas or solid-fuel cooking/heating  |
| 6140      | Heating type(s) in home |
| 6143      | Transport type for commuting to job workplace |

In [15]:
# List of irrelevant Field IDs to drop
irrelevant_ids = [
    # Integer
    "699", "709", "1070", "1080", "1845", "2946", "3659", "3672", "3682",

    # Categorical single
    "670", "780", "1011", "1021", "1031", "1707", "1767", "1797", "1835",
    "2237", "2624", "2634", "3912", "3942", "4825", "4836", "10105", "10114", "10740",

    # Categorical multiple
    "6138", "6139", "6140", "6143"
]

# Create a regex pattern to match columns with the specified IDs
pattern = re.compile(rf"^f_({'|'.join(irrelevant_ids)})_\d+_\d+$")

# Find columns that match the pattern
columns_to_drop = [col for col in touchscreen_dr_df.columns if pattern.match(col)]

# Drop the identified columns from the DataFrame
touchscreen_dr_df = touchscreen_dr_df.drop(columns=columns_to_drop)

# Validate the drop by checking the remaining columns
touchscreen_dr_df.head()

,eid,f_680_0_0,f_728_0_0,f_738_0_0,f_757_0_0,f_767_0_0,f_777_0_0,f_796_0_0,f_806_0_0,f_816_0_0,...,f_20162_0_0,f_21000_0_0,f_22032_0_0,f_22033_0_0,f_22034_0_0,f_22035_0_0,f_22036_0_0,f_22037_0_0,f_22038_0_0,f_22039_0_0
0,1000012,1.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000021,2.0,2.0,3.0,15.0,50.0,6.0,2.0,4.0,2.0,...,0.712500,1001.0,2.0,16.0,370.0,1.0,1.0,3564.0,4320.0,320.0
2,1000035,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.462963,1001.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000044,2.0,3.0,2.0,3.0,35.0,5.0,12.0,2.0,1.0,...,NaN,1001.0,0.0,2.0,15.0,0.0,0.0,99.0,0.0,0.0
4,1000053,1.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1001.0,1.0,10.0,50.0,0.0,1.0,693.0,240.0,0.0

We ensure that the `FieldID` column in `touchscreen_chars_df` is of integer type. This is important for consistent data handling and merging later on, with the objective to do multiple analysis.

In [1]:
print(touchscreen_chars_df.head())
print(touchscreen_chars_df.shape)
# Ensure the metadata FieldID is integer
touchscreen_chars_df['FieldID'] = touchscreen_chars_df['FieldID'].astype(int)

NameError: name 'touchscreen_chars_df' is not defined